<h3>All Workouts</h3>
<br>

<table class="table">


<% @workouts.each do |workout| %>
  <tbody class="workout" id="workout_<%= workout.id %>" %>
  	<td><%= workout.workout_date %></td>   	
    <td>
      <% if workout.name.empty? %>
      	<%= link_to "Workout", workout_url(workout.id) %>
      <% else %>
      	<%= link_to workout.name, workout_url(workout.id) %>
      <% end %>
    </td>
    <td>
      <% if workout.completed == true %>
        Completed
      <% else %>
        Scheduled
      <% end %>
    </td>
    <td><%= link_to "view", workout_url(workout.id) %></td>
    <td><%= link_to "update", edit_workout_path(workout.id) %></td>
    <td><%= link_to "delete", workout, method: :delete, remote: true %></td>
  </tbody>
<% end %>

</table>
