<h1><%= @this_workout.name %></h1>

<%= @this_workout.workout_date.to_s %><br>

  <% @this_workout.component_sets.each do |component_set| %>

    <%= component_set.workout_component.name %>
    <% unless component_set.kg.nil? %>
      <%= component_set.kg %>kg - 
    <% end %>
    <%= component_set.reps %> reps x 

    <% unless component_set.num_of_sets.nil? %>
      <%= component_set.num_of_sets %> sets
    <% end %>
    <br>
  <% end %>

<% @this_workout.component_times.each do |component_time| %>

  <%= component_time.workout_component.name %>
  <% unless component_time.meters.nil? %>
    <%= component_time.meters %> meters,
  <% end %>
  <% unless component_time.seconds.nil? %>
    <%= component_time.seconds %> seconds
  <% end %>
  <br>

<% end %>

<%= link_to "update", edit_workout_path %><br>

<%= link_to "delete", workout_path, method: :delete %><br>
