<h1><%= @this_workout.name %></h1>

<h3><%= @this_workout.workout_date.to_s %></h3>

<%= render 'layouts/show_exercises' %>

<p><%= @this_workout.notes %></p>

<%= link_to "update", edit_workout_path %><br>

<%= link_to "delete", workout_path, method: :delete %><br>
