<%= f.fields_for "sets[]", component_set do |h| %>
  <tbody id="<%= index %>" >
    <tr>
      <td><%= h.select(:workout_component_id, @set_component_array, selected: @set_component_array[exercise]) %></td>
      <td><%= h.number_field :grams, class: 'number-entry' %></td>
      <td><%= h.number_field :reps, class: 'number-entry' %></td>
      <td><%= h.number_field :num_of_sets, class: 'number-entry' %></td>
      <td><%= h.number_field :rest, class: 'number-entry' %></td>
      <td><%= link_to "Remove", '#', class: "removeExercise" %>
      <%= link_to "Duplicate", '#', class: "duplicateExercise" %></td>
    </tr>
  </tbody>
<% end %>
