<h3>All Templates</h3>
<br>

<table class="table">


<% @workouts.each do |workout| %>
  <tbody class="template" id="template_<%= workout.id %>" %> 	
    <td>
      <% if workout.name.empty? %>
      	<%= link_to "Workout", template_url(workout.id) %>
      <% else %>
      	<%= link_to workout.name, template_url(workout.id) %>
      <% end %>
    </td>
    <td><%= link_to "view", template_url(workout.id) %></td>
    <td><%= link_to "update", edit_template_path(workout.id) %></td>
    <td><%= link_to "delete", workout, method: :delete, remote: true %></td>
  </tbody>
<% end %>

</table>


