<h1>Add Workout Template</h1>

    <%= form_for(@workout) do |f| %>

      <%= f.label "Name", class: 'sr-only' %>
      <%= f.text_field :name, placeholder: 'Name - e.g. Cardio' %>

      <br>

      <%= render 'layouts/workout_form2', f: f %>

      <%= f.submit "Save Template"%>

    <% end %>