<h1>Template #<%= @this_workout.id %></h1>

<% @this_workout.component_sets.each do |component_set| %>

  <%= component_set.workout_component.name %>
  <% unless component_set.grams.nil? %>
    <%= component_set.grams %> grams,
  <% end %>
  <%= component_set.reps %> reps <br>

<% end %>

<% @this_workout.component_times.each do |component_time| %>

  <%= component_time.workout_component.name %>
  <% unless component_time.meters.nil? %>
    <%= component_time.meters %> meters,
  <% end %>
  <% unless component_time.seconds.nil? %>
    <%= component_time.seconds %> seconds
  <% end %>
  <br>

<% end %>

<%= link_to "delete", template_path, method: :delete %><br>
<%= link_to "Record completed workout with this template", new_recorded_workout_url(template: @this_workout.id) %><br>
<%= link_to "Schedule workout with this template", new_scheduled_workout_url(template: @this_workout.id) %><br>