<h1>Template #<%= @this_template.id %></h1>

<% @this_template.template_sets.each do |template_set| %>

  <%= template_set.workout_component.name %>
  <% unless template_set.grams.nil? %>
    <%= template_set.grams %> grams,
  <% end %>
  <%= template_set.reps %> reps <br>

<% end %>

<% @this_template.template_times.each do |template_time| %>

  <%= template_time.workout_component.name %>
  <% unless template_time.meters.nil? %>
    <%= template_time.meters %> meters,
  <% end %>
  <% unless template_time.seconds.nil? %>
    <%= template_time.seconds %> seconds
  <% end %>
  <br>

<% end %>

<%= link_to "delete", template_path, method: :delete %><br>
<%= link_to "Add workout with this template", new_workout_url(template: @this_template.id) %><br>
