<h1>Add Workout Component </h1>

<%= form_for(@workout_component) do |f| %>

<table>
  <tr>
    <td><%= f.label "Name of activity" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label "What is measured?" %></td>
    <td><%= f.select :component_type, ["Reps", "Time"], {}, class: 'select-component-type' %></td>
  </tr>
  <tr>
    <td><%= f.label "Equipment" %></td>
    <td><%= f.select :reps_equipment, ["Machine", "Free Weights", "Body Weight Only", "Body + Free Weights"], {}, class: 'reps-select' %>
        <%= f.select :times_equipment, ["Machine", "Road/Track"], {}, class: 'times-select' %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit %></td>
  </tr>
</table>

<% end %>
