<div class="container">
	<div class="inline-links">
	  <h1 class="inline-links"><%= link_to "Training Tracker", root_path %></h1>
	  <%= link_to "Add New Workout", new_recorded_workout_url %>
	  <%= link_to "View All Workouts", recorded_workouts_url %>
	  <%= link_to "Add New Workout Component", new_workout_component_url %>
	  <%= link_to "Add New Template", new_template_url %>
	  <%= link_to "View All Templates", templates_url %>
	  <%= link_to "Add New Scheduled Workout", new_scheduled_workout_url %>
	  <%= link_to "View All Scheduled Workouts", scheduled_workouts_url %>
	</div>
