<div class="exercise-fields">

  <%= f.fields_for "times[]", component_time do |h| %>

    <%= h.select(:workout_component_id, @time_component_array, selected: @template_workout[:times][index][:workout_id]) %>
    <%= h.number_field :meters, value: @template_workout[:times][index][:meters],
                               class: 'number-entry' %>meters 
    <span class="cardio-time">
      <input type="number" class="number-entry-time hours" min="0" max="60" placeholder="hh">
      <input type="number" class="number-entry-time mins" min="0" max="60" placeholder="mm">
      <input type="number" class="number-entry-time secs" min="0" max="72" placeholder="ss">
      <%= h.hidden_field :seconds, value: @template_workout[:times][index][:seconds], 
                                class: "actual-seconds" %>
    </span>
    <%= h.number_field :rest, value: @template_workout[:times][index][:rest],
                                class: 'number-entry' %>s
    <%= h.select(:intensity_plan, ["","Increase Intensity Soon", "Decrease Intensity Soon"]) %>
    <%= link_to image_tag('remove.png'), '#', class: "removeExercise" %>
    <%= link_to "Duplicate", '#', class: "duplicateExercise" %>

  <% end %>

</div>