


<% @component_times.each_with_index do |component_time, index| %>
  <%= render 'layouts/new_time', index: index, f: f, component_time: component_time %>
<% end %>

<div class="exercise-fields">
	<%= link_to "Add Cardio Exercise", "#", class: "addExercise" %>
</div>

<% @component_sets.each_with_index do |component_set, index| %>
  <%= render 'layouts/new_set', index: index, f: f, component_set: component_set %>
<% end %>

<div class="exercise-fields">
	<%= link_to "Add Strength/Toning Exercise", "#", class: "addExercise" %>
</div>

<%= f.label "Notes", class: 'sr-only' %>
<%= f.text_area :notes, value: @template_workout[:notes], placeholder: 'Notes' %>
<br>